html, body {
  background: white;
}

#interface {
  position: relative;
  width: 900px;
  height: 400px;
  margin: auto;
  margin-top: 5%;
  /* border-style: dotted; */
}
#container {
   /* background: blue;  */
  position: relative;
  left: 50%;
  top: 50%; 
  /* margin-top: 500px; */
}
ul#menu{
  position: relative;
  /* margin: auto; */
  margin-top: 110px;
  margin-left: -40px;
  /* margin-right: -200px; */
  /* text-align: center; */
}
ul#menu li {
  display: inline;
  list-style: none;
  margin-right: auto; 
  margin-left: 20px;
  font-size: 22px; 
}
ul#menu li a{
  text-decoration:none; 
  color:black;
}
