html, body {
  background: white;
}

#container {
   /* background: red;  */
  position: absolute;
  left: 50%;
  top: 30%;
  text-align: center;
  z-index: -1;
}
ul#menu{
  position: relative;
  margin-top: 25%;
  /* left: 50%; */
  text-align: center;
}
ul#menu li {
  display: inline;
  list-style: none;
  margin-left: auto; 
  margin-right: 20px;
  font-size: 24px; 
  color:gray;
}
