
#header {
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #eeeeee;
    text-align: center;
    z-index: 99;
    padding: 10px;
}
.btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.btn:active {
	position:relative;
	top:1px;
}


.float {
    float: right;
    padding: 15px;;
}


#post {
    position: relative;
    width: 75%;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    padding: 45px;
}

.sidebar {
    width: 20%;
    position: relative;
    margin-left: 10px;
    margin-right: 0;
    z-index: 999;
}

#menu {
    background-color: #262a30;
    position: fixed;
    opacity: 0.8;
    height: 100%;
    margin-top: 10px;
    width: 22%;
    overflow: auto;
}

#menu a{
    color: #dfdfdf;
}

#menu ul {
    float: top;
    padding-left: 10%;
}
#menu li {
    list-style: none;
    float: top;
}

#menu li a:hover {
    background-color: #111111;
}

.file {
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:12px;
	/* font-weight:bold; */
	padding:6px 5px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    margin-bottom: 3px;
    width: 90%;
}

.folder {
    background-color: #777777;
	border-radius:6px;
	border:1px solid gray;
    display:inline-block;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 3px;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 5px;
}

.folder li {
    list-style-type: disc;
}
